#courseTitle .jumbotron {
  background: none;  
  background-size: cover;         
  padding-top: 30px;
  padding-bottom: 10px;
  color: white;
  font-family: 'Lexend Mega', sans-serif;
}

#courseBox .jumbotron {
	background-color: rgba(255,255,255,0.2);
	background-size: cover;
    background-position: top center;
    position: relative; 
	flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
    color: white;
    font-family: 'Barlow', sans-serif;
}




.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

