@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 /* color: #f2f2f2; /* offwhite */*/

  /* default font */
  /*font-family: 'Barlow', sans-serif;
*/}
html, body {
	height: 100%;
	margin: 0;
}
body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.58'%3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23aa0000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/*footers*/

.social-icon {
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 25px;
    justify-content: center;
}
.social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
} 
.social-item:hover img {
    filter: grayscale(0); 