/*.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}*/

#hero .jumbotron {
  background: none;             /* Transparent background */
  font-family: 'Barlow', sans-serif;
  color: white;
} 

#aboutUs .jumbotron {
  color: white;
  background-color: rgba(255,255,255,0.2);
  width: 99vw;
  /*height: 105vh;*/
  min-height:300px;
  margin-bottom: 0px;
}