

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.loginJumbo {
	width: 100vw;
  	height: 120vh;
}

.loginLeft {
	background-color: rgba(255,255,255,0.2);
	background-size: cover;
    background-position: top center;
    position: relative; 
	flex-direction: column;
    text-align: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 10px 0;
    color: white;
    
}
.loginLeftLeft {
	padding-top: 100px
}
#loginUser {
	 margin: 0 auto;
}
