#profileContainer {
	background-color: rgba(255,255,255,0.2);
	background-size: cover;
    background-position: top center;
    position: relative; 
	flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px 0;
    color: white;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

h3 {
  color: black;
}

.card {
  background-color: rgba(255,255,255,0.2);
  background-size: cover;
    background-position: top center;
    position: relative; 
  flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px 0;
}